<div class="container mt-3">
  <div class="row">
    <div *ngFor="let car of cars" class="col-4">
      <div class="card mb-2" style="width: 20rem">
        <div class="row">
          <div class="col">
            <div class="card-body">
              <p class="card-title fs-6">{{ car.brand }}</p>
              <p></p>
              <p class="card-subtitle mb-2 fs-5">{{ car.model }}</p>
              <p class="fs-6">Preço</p>
              <p class="fs-6">R${{ car.price }}</p>
            </div>
          </div>
          <div class="col">
            <img [src]="car.img" class="card-img-top img-custom" alt="..." />
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <form novalidate>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" />
          <mat-error
            *ngIf="formCar.hasError('email') && !formCar.hasError('required')"
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="formCar.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
